OPENAI_API_KEY=
DATABASE_URL=
GEMINI_API_KEY=
FB_PAGE_ID=
PHONE_NUMBER_ID=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
WABA_ID=
SYSTEM_USER_TOKEN_META=
FB_PAGE_ACCESS_TOKEN=
META_APP_ID=
FACEBOOK_APP_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=



PORT=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
WHATSAPP_OTP_TEMPLATE_NAME=
NODE_ENV=
TZ=Asia/Kolkata
APP_TIMEZONE=Asia/Kolkata
MONGODB_URL=
SMTP_EMAIL=
SMTP_PASSWORD=
