OPENAI_API_KEY=
DATABASE_URL=
WHATSAPP_TOKEN=
FB_ACCESS_TOKEN=
SMTP_EMAIL=
SMTP_PASSWORD=
GOOGLE_API_KEY=
FB_PAGE_ACCESS_TOKEN=
MONGODB_URL=
FB_PAGE_ID=
PHONE_NUMBER_ID=
VERIFY_TOKEN=
WABA_ID=
NODE_ENV=
WHATSAPP_PERMANENT_TOKEN=
PORT=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
WHATSAPP_OTP_TEMPLATE_NAME=
SYSTEM_USER_TOKEN_META=